/* Login Page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2d2d2d, #141414); /* Gradient background */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',;
  color: #f8f9fa;
}

.login-container {
  background-color: #1c1c1c; /* Darker shade for better contrast */
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 450px;
  text-align: center;
}

.heading {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffc107; /* Highlighted heading color */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 1.1rem;
  text-align: left;
}

.input {
  padding: 12px 15px;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 1rem;
  color: #f8f9fa;
  background-color: #292b2c;
  outline: none;
}

.input:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px #ffc107;
}

.button {
  padding: 12px;
  background-color: #007bff;
  color: #f8f9fa;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.forgot-password {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #ffc107;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-prompt {
  margin-top: 20px;
  font-size: 0.95rem;
}

.register-button {
  color: #ffc107;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
